.box{
	display: flex;
}
.firstTitle{
	width:3.72rem;
	height: 0.78rem;
	line-height: 0.78rem;
	background: #4876E9;
	color: #fff;
	font-size: 0.25rem;
	text-align: center;
}
.firstUlLeft{
	width:3.72rem;
	
}
.firstUlLeftLi{
	width:3.72rem;
	line-height: 0.51rem;
	display: flex;
}
.firstUlLeftLi img{
	width:0.16rem;
	height: 0.16rem;
	margin-top: 0.18rem;
	margin-left: 0.66rem;
	margin-right: 0.16rem;
}
.firstUlLeft li div{
	font-size: 0.22rem;
}
.twoCate{
	width:3.72rem;
	padding-left: 1.2rem;
}
.apper{
	display: none;
}

.twoCate>div{
	font-size: 0.22rem;
	color: #333;
	line-height: 0.53rem;
}
.threeCate{
	width:3.12rem;
	margin-left: -1.2rem;
}
.threeCate div{
	width:3.72rem;
	height: 0.53rem;
	line-height: 0.53rem;
	font-size: 0.22rem;
	color: #333;
	padding-left: 1.4rem;
}
.username{
	width:100%;
	height: 0.78rem;
	line-height: 0.78rem;
	background: #5B8CFF;
	color: #fff;
	font-size: 0.25rem;
	text-align: center;
}
.username div{
	display: flex;
}
.username  img{
	width:0.23rem;
	height: 0.23rem;
	margin-top: 0.23rem;
	margin-left: 17.53rem;
	margin-right: 0.31rem;
}
.wrap{
	width:100%;
	height:100%;
	background: #EFF4FA;
	position: relative;
}
.nowPlace{
	width:100%;
	height: 0.78rem;
	line-height: 0.78rem;
	/*margin-left:0.47rem;*/
	background: #fff;
	color: #333;
	margin-bottom: 0.47rem;
}
.nowPlace span{
	color: #5B8CFF;

}
.info{
	width:24.7rem;
	height: 100%;
	background:#fff;
	margin-left: 0.47rem;
	padding-bottom: 0.39rem;
	padding-top: 0.39rem;
	border-radius: 0.16rem;
}
.info input{
	height: 0.31rem;
}
.infoTitle{
	padding-left: 0.59rem;
	font-size: 0.25rem;
	color: #4876E9;
}
.infolist{
	display: flex;
	margin-top: 0.23rem;
}
.infolist div{
	margin-left: 0.47rem;
	font-size: 0.22rem;
	color: #333;
	width:2.2rem;
}
.infolist option{
	font-size:0.22rem;
}
.infolist select{
	color: #999;
	font-size: 0.22rem;
	height: 20px;
	margin-right: 0.23rem;
}
input[type="checkbox"]{
	appearance: none; 
	-webkit-appearance: none;
	outline: none;
	display:none;
}
label{
	width:60px;
	height:0.47rem;
	display:inline-block;
	cursor:pointer;
	margin-right: 0.47rem;
	line-height: 0.16rem;
}
label input[type="checkbox"] + span{
	width:19px;height:15px;
	display:inline-block;
	background:url(../img/dot.png)  no-repeat;
	background-position:0 0px;
}
label input[type="checkbox"]:checked + span{
	background-position:0 -16px;
}
.infoBtn{
	width: 1.88rem;
	height: 0.62rem;
	background: url(../img/btn.png) no-repeat;
	background-size: 100% 100%;
	text-align: center;
	line-height: 0.52rem;
	margin-left: 6.41rem;
	margin-top: 0.47rem;
	font-size: 0.25rem;
	color: #fff;
}