
.box{
	display: flex;
	
}
.firstTitle{
	width:3.72rem;
	height: 0.78rem;
	line-height: 0.78rem;
	background: #4876E9;
	color: #fff;
	font-size: 0.25rem;
	text-align: center;
}
.firstUlLeft{
	width:3.72rem;
	
}
.firstUlLeftLi{
	width:3.72rem;
	line-height: 0.51rem;
	display: flex;
}
.firstUlLeftLi img{
	width:0.16rem;
	height: 0.16rem;
	margin-top: 0.18rem;
	margin-left: 0.66rem;
	margin-right: 0.16rem;
}
.firstUlLeft li div{
	font-size: 0.22rem;
}
.twoCate{
	width:3.72rem;
	padding-left: 1.2rem;
}
.apper{
	display: none;
}

.twoCate>div{
	font-size: 0.22rem;
	color: #333;
	line-height: 0.53rem;
}
.threeCate{
	width:3.12rem;
	margin-left: -1.2rem;
}
.threeCate div{
	width:3.72rem;
	height: 0.53rem;
	line-height: 0.53rem;
	font-size: 0.22rem;
	color: #333;
	padding-left: 1.4rem;
}
.username{
	width:100%;
	height: 0.78rem;
	line-height: 0.78rem;
	background: #5B8CFF;
	color: #fff;
	font-size: 0.25rem;
	text-align: center;
}
.username div{
	display: flex;
}
.username  img{
	width:0.23rem;
	height: 0.23rem;
	margin-top: 0.23rem;
	margin-left: 17.53rem;
	margin-right: 0.31rem;
}
.wrap{
	width:100%;
	height:85.5vh;
	background: #EFF4FA;
	position: relative;
}
.nowPlace{
	width:100%;
	height: 0.78rem;
	line-height: 0.78rem;
	/*margin-left:0.47rem;*/
	background: #fff;
	color: #333;

}
.nowPlace span{
	color: #5B8CFF;
}
.firstPageCheck{
	width:100%;
	height: 0.94rem;
	background: #fff;
	margin-top: 0.31rem;
	margin-left: 0.47rem;
	display: flex;
	font-size: 0.22rem;
	
}
.firstPageCheck>div{
	display: flex;
	height: 0.47rem;
	border:1px solid #eee;
	margin-left:0.78rem;
	margin-top: 0.21rem;
	padding-right: 0.1rem;
}
.firstPageCheck img{
	width:0.19rem;
	height: 0.19rem;
	margin-top: 0.16rem;
}
.firstPageCheck input{
	border:none;
	padding-left: 0.16rem;
	width:2.2rem;
	font-size: 0.22rem;
}

.firstPageBtn{
	height: 0.47rem;
	width:1rem;
	background: #5B8CFF;
	border:none;
	border:1px solid #eee;
	margin-top: 0.23rem;
	margin-left: 0.5rem;
	border-radius: 0.05rem;
	color: #fff;
	font-size: 0.22rem;
}

.firstPageBill{
	width:100%;
	margin-top: 0.31rem;
}

.firstBilUl{
	margin-top: 0.31rem;
	background: #fff;
	width:100%;
}
.firstBilUl li {
	display: flex;
	font-size: 0.22rem;
	height: 0.62rem;
	line-height: 0.62rem;
	color: #666;
}


.firstnub{
	width:3.5rem;
	text-align: center;
}
.zhanDot{
	width:3.6rem;
	text-align: center;
}
.shopname{
	width:3.9rem;
	text-align: center;
}
.shopid{
	width:3.6rem;
	text-align: center;
	color:#44CC66;
}
.firstBilZuo{
	width: 3.6rem;
	text-align: center;
}
.firstBilZuo span{
	color: #fff;
	font-size: 0.19rem;
	margin-left: 0.08rem;
	display: inline-block;
	width: 0.75rem;
	height: 0.31rem;
	line-height: 0.31rem;
}
.firstBilZuo img:first-child{
	display: inline-block;
	width:0.12rem;
	height: 0.16rem;
	margin-right: 0.06rem;
}
.firstBilZuo img:last-child{
	display: inline-block;
	width:0.16rem;
	height: 0.16rem;
	margin-right: 0.06rem;
}
.blue{
	background: #F6FAFF;
}
.green{
	background: #44cc66;
}
.red{
	background: #fd736e;
}

.page{
	display: flex;
	padding-left:7.08rem;
	padding-top: 0.31rem;
	padding-bottom: 0.31rem;
	border-top: 1px solid #F5F5F5;
}
.page div{
	padding-left: 0.16rem;
	padding-right: 0.16rem;
	border:1px solid #D5D5D5;
	line-height: 0.5rem;
	height: 0.5rem;
	margin-left: 0.31rem;
}
.stop{
	color: #fd736e;
}
.star{
	color: #44cc66;
}
.tanchuang{
	position:absolute;
	width:100%;
	height: 85.5vh;
	top:0;
	left: 0;
	background: #000;
	z-index: 900;
	opacity: 0.7;
}
.newCate{
	position: absolute;
	z-index: 1000;
	background:#fff;
	width:4.16rem;
	height: 2.89rem;
	left: 8.73rem;
	top: 4.33rem;
}
.newCateTitle{
	height: 0.62rem;
	background: #4DA6FE;
	font-size: 0.25rem;
	color: #fff;
	line-height: 0.62rem;
	padding-left: 0.31rem;
	margin-bottom: 0.16rem;
}
.list{
	display: flex;
	margin-left: 0.62rem;
}
.list li{
	width:0.88rem;
	height: 0.53rem;
	line-height: 0.52rem;
}
.list input{
	width:1.36rem;
	margin-top: 0.12rem;
	margin-bottom: 0.05rem;
}
.list select{
	color: #666;
	width:1.4rem;
	margin-top: 0.12rem;
	margin-bottom: 0.05rem;
}
.buton{
	width: 1.25rem;
	height: 0.51rem;
	background: url(../img/buton.png) no-repeat;
	background-size: 100% 100%;
	text-align: center;
	color: #fff;
	line-height: 0.41rem;
	margin-top:0.33rem;
	margin-left: 1.5rem;
	font-size: 0.19rem;
}